body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#vsebina {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#kanal {
  background-color: lightgreen;
  margin-bottom: 1em;
  border: 1px solid transparent; 
	border-radius: 4px; 
}

#sporocila {
  width: 85%;
  height: 300px;
  overflow: auto;
  background-color: #FFFFFF;
  margin-bottom: 1em;
  margin-right: 10px;
  
}

#seznam-kanalov, #seznam-uporabnikov {
  float: right;
  width: 100%;
  height: 150px;
  border-radius: 4px;
  overflow: auto;
}

#seznam {
  float: right;
  width: 14%;
}

#seznam-kanalov div, #seznam-uporabnikov div {
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

#seznam-kanalov div:hover, #seznam-uporabnikov div:hover {
  background-color: #ddd;
}

#poslji-sporocilo {
  width: 700px;
}


#pomoc {
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-top: 1em;
}

#emoticons {
  margin-top: 10px;
  margin-bottom: 10px;
  cursor:pointer;

}

/* Dropdown Button */
.dropbtn {
    background-color: white;
    color: black;
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;
    font-size: 14px;
    border-style: solid;
    border-color: #d4d4d4;
    border-width: 1px;
    border-radius: 4px;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
}

/* Links inside the dropdown */
.dropdown-content input {
    color: black;
    padding: 3px;
    font-size: 11px;
    text-decoration: none;
    display: block;
    border:none;
    background-color: white;
    list-style-type: circle;
    border-radius: 4px;
    cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content input:hover {background-color: #dbdbdb}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #bfbfbf;
}